body{
    background-color: #feeadc;
}
#nav{
    color:white;
    background-color:#533f3e ;
}
#toys{
    background-color: #cba489;
}
#mainLogo{
    width: 100%;
    height:100%;
}
#script{
    font-family: 'Dancing Script', cursive;
}
#regText{
    font-family: 'Montserrat', sans-serif;
}
#footer{
    background-color:#533f3e ;
}
#mail{
    background-color: #f79559;
}
.dropdown-item:active{
    background-color: #f79559;
}
.dropdown-item:cue{
    background-color: #f79559;
}
#title{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
}
#reg{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}